@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}

#__next {
  height: 100%;
}

.hamworks {
  text-shadow: 0px 0px 10px #27b7ed, 0px 0px 4px #ffffff;
}

.text-vertical {
  writing-mode: vertical-rl;
  /*text-orientation: sideways;*/
  transform: scale(-1);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
