@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl sm:text-6xl md:text-7xl lg:text-9xl;
  }

  h2 {
    @apply text-3xl sm:text-4xl md:text-5xl lg:text-6xl;
  }

  h3 {
    @apply text-lg sm:text-xl md:text-2xl lg:text-3xl;
  }

  p {
    @apply text-base sm:text-lg md:text-xl;
  }

  label {
    @apply text-xs;
  }
}
html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}

.hamworks {
  text-shadow: 0px 0px 10px #27b7ed, 0px 0px 4px #ffffff;
}

.text-vertical {
  writing-mode: vertical-rl;
  /*text-orientation: sideways;*/
  transform: scale(-1);
}

.clip-path-project-img {
  /* https://stackoverflow.com/questions/5115427/how-can-i-add-a-box-shadow-on-one-side-of-an-element */
  clip-path: inset(0px -1px -15px 0px);
}

.body-bg {
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 8 8"%3E%3Cg fill="%23212121" fill-opacity="0.4"%3E%3Cpath fill-rule="evenodd" d="M0 0h4v4H0V0zm4 4h4v4H4V4z"/%3E%3C/g%3E%3C/svg%3E');
}

.btn-bg {
  background: linear-gradient(90deg, #25b1dfad 0%, #000000a1 100%),
    url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 8 8"%3E%3Cg fill="%23212121" fill-opacity="0.4"%3E%3Cpath fill-rule="evenodd" d="M0 0h4v4H0V0zm4 4h4v4H4V4z"/%3E%3C/g%3E%3C/svg%3E'),
    black;
  text-shadow: black 3px 3px 5px;
}

/* https://stackoverflow.com/questions/48737295/create-a-reverse-clip-path-css-or-svg */
/* https://stackoverflow.com/questions/67477566/blend-mode-on-svg-image */
.clip-path-btn {
  clip-path: path(
    "M0.192647 59.263V21.8845C0.191397 21.6334 0.24882 21.3855 0.360322 21.1606C0.471824 20.9358 0.634308 20.7402 0.834769 20.5896L27.4507 0.482782C27.7313 0.273733 28.0723 0.162186 28.4219 0.165095H205.254C205.465 0.165095 205.674 0.206701 205.869 0.287538C206.063 0.368375 206.24 0.486859 206.389 0.636226C206.538 0.785593 206.657 0.962918 206.737 1.15808C206.818 1.35323 206.86 1.5624 206.86 1.77364V39.5503C206.861 39.8072 206.801 40.0606 206.684 40.2894C206.567 40.5182 206.398 40.7156 206.189 40.8653L179.589 60.1678C179.314 60.369 178.983 60.4775 178.642 60.4774L1.79394 60.8796C1.58279 60.879 1.37381 60.8368 1.17899 60.7552C0.984163 60.6736 0.807313 60.5543 0.658566 60.4042C0.50982 60.254 0.392101 60.0759 0.31215 59.8801C0.2322 59.6843 0.191591 59.4746 0.192647 59.263V59.263Z"
  );
}

.contact {
  text-shadow: 0px 0px 10px #ffffff;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
